body {
    background: #0F2635;
    color: #fff;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Titillium Web', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.profile {
    display: table-cell;
    vertical-align: middle;
}

.fa {
    color: #fff;
}

.account-links > a > i {
    padding: 6px 10px ;
    margin: 15px;
    margin-top: 30px;
}

.account-links > a:hover > i {
    background: rgba(255, 255, 255, 0.0980392);
}